<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.procon34_CYBER_WARS_backend.repository.UsersMapper">
    <select id="registerUser" resultType="com.example.procon34_CYBER_WARS_backend.entity.Users">
        INSERT INTO users(name, password) VALUES(#{name}, #{password});
    </select>
</mapper>
